{#
/**
 * @file pizza_order.html.twig
 * Default theme implementation to present Pizza Order data.
 *
 * This template is used when viewing Pizza Order pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_pizza_order()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('pizza_order') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
